<tr>
  <td>{{candidate.id}}</td>
  <td>{{candidate.name}}</td>
  <td>{{candidate.voteCount}}</td>
  <td><button type="button" class="btn btn-primary btn-vote" onclick="App.castVote('{{candidate.id}}');">Oy ver</button></td>
</tr>